*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 1785px;
	/* border: 1px solid black; */
}
header{
	width: 100%;
	height:50px;
	/* border: 1px solid black; */
}
.clear {
	clear: both;
}
.header {
	background: #8D8C8B;
	position: relative;
	height: 40px;
}
.home {
	float: left;
	color: #0C1829;
	line-height: 40px;
	margin-left: 40px;
}
.leaf {
	position: absolute;
	top: 14px;
	left: 16px;
	color: #0C1829;

}
.my_account {
	float: right;
	color: #0C1829;
	line-height: 40px;
	margin-right: 25px;
}
.user {
	position: absolute;
	top: 12px;
	right: 115px;
	color: #0C1829;
}
.nav {
	background: #fff;
	border: 1px #333 solid; 
}

.my_account input{
	border-radius: 20px;
	margin-left: 10px;
}

#logo{
	width: 11%;
	height: 50px;
	float: left;
}
#menu {
	width: 69%;
	height: 50px;
	float: left;
	/* border: 1px solid black; */
	background-color: black;
}
#menu ul{
	height: 50px;
	width:  100%;
}
#menu ul li{
	width: 18%;
	height: 50px;
	border: 1px solid black;
	float: left;
	line-height: 40px;
	text-align: center;
	list-style-type: none;
}
#menu ul li:last-child{
	margin-left: 3%;
	width: 5%;
	height: 46px;
	margin-top: 0%;
}
#menu ul li a:last-child{
	height: 46px;
}
#menu ul li a{
	text-decoration: none;
	color: #555555;
	width: 100%;
	height: 50px;
	display: block;
	
}
#menu ul li a:hover{
	color: white;
	
}
#menu ul li ul{
	width: 100%; 
	height: 200px;
	border: 1px solid black;
	margin-top: -2px;
	background-color: black;
}
#menu ul li #brigde li{
	width: 100%;
	height: 50px;
	border: 1px solid black;
	
}
#menu ul li ul li:last-child{
	width: 100%;
	height: 50px;
	margin-left: 0;
}

#menu ul li:nth-child(4):hover li{
	display: block;
}
#menu ul li #brigde{
	display: none;
}
#menu ul li:hover #brigde{
	display: block;
}
#about{
	width: 20%;
	height: 50px;
	border: 1px solid black;
	float: left;
	text-align: center;
	background-color: black;
}
#about p{
	
	color: white;
}
#about p a{
	text-decoration: none;
	color: white;
}


 .wrapper {
 	width: 970px;
    padding-top: 67px;
    margin: 0 auto;
 }

 .wrapper .bx-wrapper {
 	margin-bottom: 40px !important;
 }
 
 
 .slider img {
 	width: 250px;
 	height: 200px;
 	display: block;
 	margin: auto;
 	float: left;
 	margin-left: 50px;
 }
 .block_slider>a {
 	display: block;
 }  

section{
	padding-top:  5px;
	width: 100%;
	min-height: 1513px;
	color: #666666;
	/* border: 1px solid black; */

}
#container-1{
	width: 100%;
	height: 500px;
	background: url("../img/bai-bien.jpg") ; 
	background-size: 100% 100%;
}
#container2{
	width: 67%;
	height: 414px;
	float: left;
	/* border: 1px solid black; */
	background-color: #666666;
}
#container2 p{
	font-size: 30px;
	font-weight: bold;
	margin-left: 55px;
	color: #F6756C;
}
#newfeed{
	/* border: 1px solid black; */
    width:  96%;
    height: 390px;
    margin-left: 25px;
    
     
}
#newfeed1{
	border-right: 1px solid grey;
    width:  47%;
    height: 349px;
    margin-left: 25px;
    padding-right: 3px;
    float: left;
     position: relative;
     overflow: hidden;
   
}
#newfeed1 img{
	width: 100%;
    height: 169px;
}
#newfeed1 h3 a{
	text-decoration: none;
	color: black;
	font-size: 18px;
}
#newfeed1 h3 a:hover{
	color: red;
}
#newfeed1 p{
	font-size: 14px;
    color: #666666;   	
    margin-left: 0px;
    text-align: justify;
}
#newfeed #newfeed1 a:hover #backgroundhover{ /* để thẻ nền vào thẻ con của nó. cùng thẻ ngoài của ảnh */
	left: 0%;

	transition: all ease-in-out 20ms;
}
#backgroundhover{
	width: 99%;
    height: 169px;
    background-color: grey;
    opacity: 0.4;
    position: absolute;
    left: -99%;
    top: 0;
   	
    
}

#newfeed2{
	float: left;
    width: 47%;
    height: 29%;
   /*  border: 1px solid black; */
    margin-left: 1%;
    margin-top: 3px;
    position: relative;
	overflow: hidden;

}

#newfeed2 img{
	width: 41%;
    height: 84%;
    float: left;
    margin: 9px 0 0 2%;
}

#newfeed2 h3 a{
	text-decoration: none;
	color: black;
	font-size: 17px;

}
#newfeed2 #backgroundnf2{
    width: 41.1%;
    height: 97px;
    position: absolute;
    background-color: yellow;
    opacity: 0.3;
    top: 9px;
    left: -42%;
}
#newfeed2 a:hover #backgroundnf2{
	left: 2%;
	transform: scale(1, 1);
	transition: all ease-in-out 50ms;
}
#newfeed2 h3{
	margin-top: 16px;
	line-height: 15px;
}
#newfeed2 h3 a:hover{
	color: red;
}
#newfeed2 p{
	font-size: 14px;
    color: #666666;  	
    margin-left: 0px;
    text-align: justify;
}
#newfeed3{
	float: left;
    width: 47%;
    height: 29%;
   /*  border: 1px solid black; */
    margin-left: 1%;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
}
#newfeed3 img{
	width: 39%;
    height: 86%;
    float: left;
    margin: 7px 2% 0 3%;
}
#newfeed3 #backgroundnf3{
	width: 39%;
    height: 97px;
    position: absolute;
    background-color: yellow;
    opacity: 0.3;
    left: -39%;
    top: 7px;
}
#newfeed3 a:hover #backgroundnf3{
	left: 3%;
	transition: all ease-in-out 50ms;
}
#newfeed3 h3 a{
	text-decoration: none;
	color: black;
	font-size: 17px;

}
#newfeed3 h3{
	margin-top: 16px;
	line-height: 17px;

}
#newfeed3 h3 a:hover{
	color: red;
}
#newfeed3 p{
	font-size: 14px;
    color: #666666;
    margin-left: 0px;
    text-align: justify;
}
#newfeed4{
	float: left;
    width: 47%;
    height: 29%;
    /* border: 1px solid black; */
    margin-left: 1%;
    margin-top: 3px;
    position: relative;
    overflow: hidden;
}
#newfeed4 img{
	width: 39%;
    height: 86%;
    float: left;
    margin: 7px 2% 0 3%;
}
#newfeed4 #backgroundnf4{
	width: 39%;
    height: 97px;
    position: absolute;
    background-color: yellow;
    opacity: 0.3;
    left: -39%;
    top: 7px;
}
#newfeed4 a:hover #backgroundnf4{
	left: 3%;
	transition: all ease-in-out 50ms;
}
#newfeed4 h3 a{
	text-decoration: none;
	color: black;
	font-size: 17px;

}
#newfeed4 h3{
	margin-top: 16px;
	line-height: 17px;
	
}
#newfeed4 h3 a:hover{
	color: red;
}
#newfeed4 p{
	font-size: 14px;
    color: black;
    margin-left: 0px;
    text-align: justify;
}

#container3{
	width: 33%;
    height: 414px;
    /* border: 1px solid black; */
    float: left;
    
    background-color: #99CEFE;
}
#container3 video{
	margin-top: 3px;
    margin-left: 6%;
}
#container3 #music{
	width: 90%;
    height: 150px;
    /* border: 1px solid black; */
    margin-left: 6%;
    margin-top: -17px;
}
#container4 {
	width: 100%;
    height: 600px;
    border-top: 1px solid grey;
    clear: both;
	background-color: #a6a6a6;
}
#container4 h2{
	margin-left: 7%;
	margin-bottom: 17px;
}
#container4 #show1{
	width: 29%;
    height: 170px;
    /* border: 1px solid black; */

    margin-left: 2%;
    float: left;
	position: relative;
	overflow: hidden;

}


#container4 #show1 p{
	
	position: absolute;
	margin-top: -165px;
	margin-left: 1%;
	color: white;
	font-weight:bold;
	font-style: italic;
}
#container4 #show1 a:hover img{
	transform: scale(1.1, 1.1);
	transition: all ease-in-out 1s;

}


#container4 #show2{
	width: 29%;
    height: 170px;
    margin-left: 2%;
    float: left;
    overflow: hidden;
    position: relative;
   
}
#container4 #show2 a:hover img{
	transform: scale(1.1, 1.1);
	transition: all ease-in-out 1s;
	
}
#container4 #show2 p{
	
	position: absolute;
	margin-top: -165px;
	margin-left: 1%;
	color: white;
	font-weight:bold;
	font-style: italic;
}
#container4 #show3{
	width: 29%;
    height: 170px;
    /* border: 1px solid black; */
    margin-left: 2%;
    float: left;
    overflow: hidden;
   	position: relative;
}
#container4 #show3 a:hover img{
	transform: scale(1.1, 1.1);
	transition: all ease-in-out 1s;
	
}
#container4  #form {
	clear: both;
	width: 60%;
    height: 250px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 33px 0 0 2%;
    /* background: url('hinhanh/form.jpg')  no-repeat  ;
    background-size: 100% 100%; */
    float: left;
}
#container4  #form p{
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	color: blue;
	margin-left: 3%;
}
#container4  #form table{
	margin-left: 4%;
	font-weight: bold;
	width: 66%;
	height: 220px;
}
#container4  #form table #submit{
	margin-left: 150%;
	margin-top: 15px;
}
#info{
	width: 34%;
    height: 250px;
    /* border: 1px solid black; */
    float: left;
    margin: 33px 0 0 2%;
}
#info h3{
	text-align: center;
	margin-bottom: 6px;
}
#info  a{
	text-decoration: none;
}

#info a,p{
	font-weight: bold;
	font-style: italic;
	text-decoration: none;
}
#info #fb img{
	/* vertical-align:bottom; */
	width: 5%;
	height: 5%;
	margin-right: 1%;
}
#info #mail img{
	vertical-align:bottom;
	width: 5%;
	height: 5%;
	margin-right: 1%;
}

footer{
	/* border: 1px solid black; */
	width: 100%;
	height: 222px;
	background-color: #183544;
}
footer #lienhe1{
	width: 41%;
    /* border: 1px solid black; */
    height: 170px;
    margin: 20px 0 0 40px;
    float: left;
    /* background-color: #183544; */
}
footer #lienhe1 h4{
	margin-left: 10%;
	color: #FFFFDB;
}
footer #lienhe1 a{
	text-decoration: none;
	margin-left: 10%;
	color: #FFFFDB;
}
footer #lienhe1 a:hover{
	text-decoration: underline;
}

footer #lienhe2{
	width: 51%;
   /*  border: 1px solid black; */
    height: 170px;
    margin: 20px 0 0 40px;
    float: left;
    /* background-color: #183544; */
}

footer #lienhe2 h4{
	margin-left: 15%;
	color: #FFFFDB;
}
footer #lienhe2 :nth-child(2){
	
	margin-left: 15%;
}
footer #lienhe2 input{
	margin-left: 100px;
	margin-top: 5px;
}
footer #lienhe2 :nth-child(6){
	margin-top: 8px;
	margin-left: 25%;
    border: 1px #F36F36;
    border-radius: 10px;
    width: 20%;
    height: 45px;
    background-color: #f44242;
}
footer #footer-last{
	height: 10px;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}